body {
  font-family: sans-serif;
}

.container {
  max-width: 600px;
  border: 1px solid black;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
